<div class="container">
  <div class="section-title">
    <h1>Publicaciones</h1>
  </div>
  <section class="list-post" *ngIf="listPostPagination">
    <article class="post-card" *ngFor="let post of listPostPagination.data | paginate: {
            id: 'server',
            itemsPerPage: listPostPagination.per_page,
            currentPage: listPostPagination.current_page,
            totalItems: listPostPagination.total
           }">
      <div class="content-container">
        <div class="title-container">
          <h1>{{ post.title }}</h1>
          <h2>{{ post.user.name }}</h2>
        </div>
        <p>{{ post.description }}</p>
      </div>
      <div class="readmore-container">
        <a [routerLink]="[post.id]">Leer más</a>
      </div>
    </article>
  </section>
</div>

<div class="text-center">
  <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
</div>

<a routerLink="/posts/create" class="float-button">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"/></svg>
</a>
