<div class="container">

  <div>
    <h1 *ngIf="isEditing">Editar publicación</h1>
    <h1 *ngIf="!isEditing">Crear publicación</h1>
  </div>

  <form [formGroup]="form" autocomplete="off">
    <div class="form-group">
      <label for="title">Titulo:</label>
      <input formControlName="title" id="title" type="text">
      <app-feedback-validator
        [submitted]="submitted"
        [errors]="form.controls.title.errors"
        attr="titulo"
      ></app-feedback-validator>
    </div>
    <div class="form-group">
      <label for="description">Descripción:</label>
      <textarea formControlName="description" id="description" rows="4"></textarea>
      <app-feedback-validator
        [submitted]="submitted"
        [errors]="form.controls.description.errors"
        attr="descripción"
      ></app-feedback-validator>
    </div>
    <div class="form-group">
      <label for="category_id">Categoria:</label>
      <select formControlName="category_id" id="category_id">
        <option value="null" disabled>Selecciona una categoria</option>
        <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
      </select>
      <app-feedback-validator
        [submitted]="submitted"
        [errors]="form.controls.category_id.errors"
        attr="categoria"
      ></app-feedback-validator>
    </div>
    <div class="control-button">
      <button class="btn btn-primary" (click)="save()">Guardar</button>
    </div>
  </form>
</div>

